
<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class="page-header">
      <%= link_to new_line_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Line
      <% end %>
      <h1>Listing lines <i class="icon-remove icon-white "></i> </h1>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover data-table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Icon</th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @lines) do |line| %>
            <td><%= line.code %></td>
            <td><%= image_tag line.icon.icon rescue nil %></td>
            <td><%= link_to icon(:"folder-open"), line %></td>
            <td><%= link_to icon(:"pencil"), edit_line_path(line) %></td>
            <td><%= link_to icon(:"trash"), line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
