<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class="page-header">
      <%= link_to new_phase_detail_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Phase detail
      <% end %>
      <h1>Listing phase_details</h1>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover data-table">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Distance</th>
            <th>Status</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @phase_details) do |phase_detail| %>
            <td><%= phase_detail.no %></td>
            <td><%= phase_detail.title %></td>
            <td><%= phase_detail.distance %></td>
            <td><%= phase_detail.status %></td>
            <td><%= phase_detail.description %></td>
            <td><%= link_to icon(:"folder-open"), phase_detail %></td>
            <td><%= link_to icon(:"pencil"), edit_phase_detail_path(phase_detail) %></td>
            <td><%= link_to icon(:"trash"), phase_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
