<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>

    <div class="page-header">
      <%= link_to new_phase_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Phase
      <% end %>
      <h1>Listing phases</h1>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover data-table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Line</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @phases) do |phase| %>
            <td><%= phase.code %></td>
            <td><%= phase.line.code %></td>
            <td><%= link_to icon(:"folder-open"), phase %></td>
            <td><%= link_to icon(:"pencil"), edit_phase_path(phase) %></td>
            <td><%= link_to icon(:"trash"), phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
